<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="sidebar-logo">
      </div>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }} (<a class="leadbutton" data-fancybox  href="javascript:;" data-src="#extended_info">more</a>)</p>
      <div id="extended_info" class="extended_info">{{ site.description_extended | markdownify }}</div>
    </div>
  </div>
</div>
