---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <div class="rogue-ratings">
    <p><em>Random Level Generation: </em>{{ page.score-random }}</p>
    <p><em>Character Progression: </em>{{ page.score-progression }}</p>
    <p><em>2D Platforming: </em>{{ page.score-platforming }}</p>
    <p><em>Permadeath: </em>{{ page.score-permadeath }}</p>
    <p><em>Exploration: </em>{{ page.score-exploration }}</p>
    <p><em>Controller Support: </em>{{ page.score-controller }}</p>
  </div>
  <div class="rogue-image">
    <img src="{{ site.url }}public/images/{{ page.game-image }}">
  </div>
  {{ content }}
</div>